$breakpoints: (
    celu: 480px,
    tablet: 800px,
    pc: 1024px
);

@mixin responsive($font-size, $imagenes, $botones: $breakpoints) {

    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }
    
    @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
    }
}