@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Luckiest+Guy&family=Permanent+Marker&family=Shadows+Into+Light&display=swap");
.sec4 .sec4-cont .sec4-texto .sec4-t, .sec3 .sec-cont3 .cont3-t {
  text-align: center;
  padding-bottom: 10px;
  color: #E4FA9D;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 1px 2px 4px #37401b;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.sec4 .sec4-cont .sec4-texto .sec4-div .sec4-pp, .sec4 .sec4-tit h4, .sec3 .sec-productos h4, .sec2 .sec-cont2 .cont2-p {
  line-height: 20px;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  color: #37401b;
}

.sec4 .sec4-tit .h4-2, .sec3 .sec-productos h5, .sec2 .sec-cont2 .cont2-p2 {
  line-height: 15px;
  font-size: 1.4rem;
  font-style: italic;
  color: #37401b;
}

.sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b, .sec4 .sec4-tit .boton, .sec3 .sec-cont3 .sec3-p {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  color: #E4FA9D;
  background-color: #37401b;
  border: none;
  border-radius: 40px;
  padding: 2px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
}

.sec1 {
  height: 100vh;
  background-image: url(./img/fondo3.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec1 .sec-cont1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec1 .sec-cont1 .sec-s1 {
  letter-spacing: 1.8px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.2rem;
  color: #37401b;
}
.sec1 .sec-cont1 .sec-s2 {
  letter-spacing: 10px;
  font-family: "Luckiest Guy", cursive;
  font-size: 4.2rem;
  color: #37401b;
}

.sec2 {
  height: auto;
  background-color: #B6D456;
}
.sec2 .sec-cont2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  text-align: center;
  padding: 2px 10px;
}
.sec2 .sec-cont2 .cont2-t {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Amatic SC", cursive;
  font-size: 2.3rem;
  color: #E4FF8E;
  text-shadow: 5px 3px 4px #37401b;
  letter-spacing: 2px;
}
.sec2 .sec-cont2 .cont2-img {
  grid-column: 2/3;
  grid-row: 1/2;
  height: auto;
  width: 130px;
  transform: rotate(10deg);
}
.sec2 .sec-cont2 .cont2-st {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-bottom: 10px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  line-height: 15px;
  color: #E4FA9D;
}
.sec2 .sec-cont2 .cont2-p {
  grid-column: 1/3;
  grid-row: 3/4;
}
.sec2 .sec-cont2 .cont2-p2 {
  grid-column: 1/3;
  grid-row: 4/5;
}

.sec3 {
  height: auto;
  background-image: url(./img/fondo4.png);
  background-position: cover;
  background-size: cover;
  padding-top: 20px;
}
.sec3 .sec-cont3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.sec3 .sec-cont3 .cont3-img {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding-bottom: 20px;
}
.sec3 .sec-cont3 .cont3-img img {
  width: 77px;
}
.sec3 .sec-productos {
  padding: 40px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 1fr 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
}
.sec3 .sec-productos h5 {
  font-size: 1.2rem;
  padding-inline: 5px;
}
.sec3 .sec-productos .text1 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: flex-end;
}
.sec3 .sec-productos .stext1 {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: flex-center;
}
.sec3 .sec-productos .img1 {
  grid-column: 1/2;
  grid-row: 3/5;
}
.sec3 .sec-productos .text2 {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: flex-end;
}
.sec3 .sec-productos .stext2 {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: flex-start;
}
.sec3 .sec-productos .img2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.sec3 .sec-productos .text3 {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: flex-end;
}
.sec3 .sec-productos .stext3 {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: flex-start;
}
.sec3 .sec-productos .img3 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.sec3 .sec-productos img {
  width: 100px;
  height: 100px;
}

.sec4 {
  background-color: #37401b;
  padding: 30px 0px;
  background: rgb(228, 250, 157);
  background: linear-gradient(185deg, rgb(228, 250, 157) 17%, rgb(182, 212, 86) 40%, rgb(55, 64, 27) 100%);
}
.sec4 .sec4-tit {
  color: #37401b;
  text-align: center;
  padding-bottom: 50px;
}
.sec4 .sec4-tit h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 3px 0px 5px #B6D456;
}
.sec4 .sec4-tit h4 {
  padding: 5px;
}
.sec4 .sec4-cont {
  height: auto;
  padding-inline: 15px;
}
.sec4 .sec4-cont .sec4-img {
  display: none;
}
.sec4 .sec4-cont .sec4-texto {
  text-align: center;
  color: #E4FA9D;
  padding: 5px 10px;
}
.sec4 .sec4-cont .sec4-texto .sec4-t {
  font-size: 2.3rem;
}
.sec4 .sec4-cont .sec4-texto .sec4-p {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  color: #37401b;
  line-height: 25px;
}
.sec4 .sec4-cont .sec4-texto .sec4-div {
  background-color: #B6D456;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px #37401b;
}/*# sourceMappingURL=estilos.css.map */