@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Luckiest+Guy&family=Neucha&family=Permanent+Marker&display=swap");
.formularios h3, .main-p .sec-r .card-recetas .card .card-title, .main-p .sec2-n .flex-n .n-tit, .main-p .menoscarne h3, .main-p section .sec1-nosotros .t2, .main-p .sec1-send .send-content .send-cuestion, .footer .foot-text .foot-1, .main1 .sec4 .sec4-cont .sec4-texto .sec4-t, .main1 .sec3 .sec-cont3 .cont3-t {
  text-align: center;
  padding-bottom: 10px;
  color: #E4FA9D;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 1px 2px 4px #37401b;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.main-p .sec-r .r-t, .main-p .menoscarne h4, .main-p section .sec1-nosotros .t3, .main-p .pedidos-card .card .card-body .card-title {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  color: #E4FF8E;
  text-shadow: 5px 3px 4px #37401b;
  letter-spacing: 2px;
  line-height: 30px;
}

.formularios p, .main-p .sec2-n .flex-n .n-p, .main-p .razones, .main-p section .sec1-nosotros p, .main-p .pedidos-card .card .card-body p, .main-p .sec1-send .send-content .send-parrafo, .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-pp, .main1 .sec4 .sec4-tit h4, .main1 .sec3 .sec-productos h4, .main1 .sec2 .sec-cont2 .cont2-p {
  line-height: 20px;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  color: #37401b;
}

.main-p .sec1-send .send-content .nav-mapa ul li, .main1 .sec4 .sec4-tit .h4-2, .main1 .sec3 .sec-productos h5, .main1 .sec2 .sec-cont2 .cont2-p2 {
  line-height: 15px;
  font-size: 1.4rem;
  font-style: italic;
  color: #37401b;
}

.formularios .form-c div input[type=submit], .main-p .sec2-n .flex-n .n-b, .main-p .razones a, .main-p .pedidos-card .card .card-body .btn, .footer .foot-text .btn, .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b, .main1 .sec4 .sec4-tit .boton, .main1 .sec3 .sec-cont3 .sec3-p {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  color: #E4FA9D;
  background-color: #37401b;
  border: none;
  border-radius: 40px;
  padding: 2px 15px;
  margin-top: 10px;
  transform: 1seg;
  cursor: pointer;
  box-shadow: rgba(128, 252, 117, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
}

.navbar {
  background-color: #44521d;
  font-size: 1.35rem;
  line-height: 20px;
  padding-block: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.main1 {
  background-image: url(./img/fondo4.png);
  background-position: center;
  background-size: cover;
}
.main1 .sec1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main1 .sec1 .sec-cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 360px;
}
.main1 .sec1 .sec-cont1 .sec-s1 {
  letter-spacing: 1.8px;
  font-size: 2.2rem;
  color: #E4FF8E;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 5px 10px 20px #37401b;
}
.main1 .sec1 .sec-cont1 .sec-s2 {
  letter-spacing: 10px;
  font-family: "Luckiest Guy", cursive;
  font-size: 4.2rem;
  color: #E4FF8E;
  text-shadow: 5px 10px 20px #37401b;
}
.main1 .sec2 {
  height: auto;
}
.main1 .sec2 .sec-cont2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  text-align: center;
  padding: 2px 10px;
}
.main1 .sec2 .sec-cont2 .cont2-t {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Amatic SC", cursive;
  font-size: 2.3rem;
  color: #E4FF8E;
  text-shadow: 5px 3px 4px #37401b;
  letter-spacing: 2px;
}
.main1 .sec2 .sec-cont2 .cont2-img {
  grid-column: 2/3;
  grid-row: 1/2;
  height: auto;
  width: 130px;
  transform: rotate(10deg);
}
.main1 .sec2 .sec-cont2 .cont2-st {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-bottom: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  line-height: 18px;
  letter-spacing: 1.5px;
  color: #E4FA9D;
}
.main1 .sec2 .sec-cont2 .cont2-p {
  grid-column: 1/3;
  grid-row: 3/4;
}
.main1 .sec2 .sec-cont2 .cont2-p2 {
  grid-column: 1/3;
  grid-row: 4/5;
  line-height: 20px;
}
.main1 .sec3 {
  height: auto;
  padding-top: 20px;
}
.main1 .sec3 .sec-cont3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main1 .sec3 .sec-cont3 .cont3-img {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding-bottom: 20px;
}
.main1 .sec3 .sec-cont3 .cont3-img img {
  width: 77px;
}
.main1 .sec3 .sec-productos {
  padding: 40px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 1fr 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
}
.main1 .sec3 .sec-productos h5 {
  font-size: 1.2rem;
  padding-inline: 5px;
}
.main1 .sec3 .sec-productos .text1 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: flex-end;
}
.main1 .sec3 .sec-productos .stext1 {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}
.main1 .sec3 .sec-productos .img1 {
  grid-column: 1/2;
  grid-row: 3/5;
}
.main1 .sec3 .sec-productos .text2 {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: flex-end;
}
.main1 .sec3 .sec-productos .stext2 {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: flex-start;
}
.main1 .sec3 .sec-productos .img2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.main1 .sec3 .sec-productos .text3 {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: flex-end;
}
.main1 .sec3 .sec-productos .stext3 {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: flex-start;
}
.main1 .sec3 .sec-productos .img3 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.main1 .sec3 .sec-productos img {
  width: 100px;
  height: 100px;
}
.main1 .sec4 {
  padding: 30px 0px;
}
.main1 .sec4 .sec4-tit {
  gap: 10px;
  color: #37401b;
  text-align: center;
  padding-bottom: 50px;
}
.main1 .sec4 .sec4-tit h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 3px 0px 5px #B6D456;
}
.main1 .sec4 .sec4-tit h4 {
  padding: 5px;
}
.main1 .sec4 .sec4-cont {
  height: auto;
  padding-inline: 15px;
}
.main1 .sec4 .sec4-cont .sec4-img {
  display: none;
}
.main1 .sec4 .sec4-cont .sec4-texto {
  text-align: center;
  color: #E4FA9D;
  padding: 5px 10px;
}
.main1 .sec4 .sec4-cont .sec4-texto .sec4-t {
  color: #B6D456;
  font-size: 2.3rem;
}
.main1 .sec4 .sec4-cont .sec4-texto .sec4-p {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  color: #B6D456;
  text-shadow: 0.5px 0px 1px #37401b;
  letter-spacing: 2px;
  line-height: 30px;
}
.main1 .sec4 .sec4-cont .sec4-texto .sec4-div {
  background-color: #B6D456;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px #37401b;
}
.footer {
  background-color: #37401b;
  text-align: center;
}
.footer .foot-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  padding: 20px 10px;
  font-size: 1.3rem;
  color: white;
}
.footer .foot-text .foot-1 {
  text-shadow: 1px 0px 50px #E4FF8E;
}
.footer .foot-text .foot-2 {
  font-family: "Amatic SC", cursive;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #E4FF8E;
  letter-spacing: 3px;
}
.footer .foot-text a {
  color: #B6D456;
  padding: 5px 0px;
  line-height: 25px;
  font-size: 1.2rem;
}
.footer .foot-text img {
  height: 80px;
  margin-block: 20px;
}
.footer .foot-text .redes {
  margin-top: 20px;
}
.footer .foot-text .form-control {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.footer .foot-text .btn {
  color: #37401b;
  background-color: #E4FA9D;
  padding: 2px 25px;
  transform: 1seg;
  cursor: pointer;
  box-shadow: rgba(27, 235, 8, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.footer .foot-text .iconos {
  display: flex;
  gap: 20px;
}
.footer .foot-text .iconos i {
  color: white;
  font-size: 1.5rem;
}

.main-p {
  background: rgb(228, 250, 157);
  background: linear-gradient(185deg, rgb(228, 250, 157) 17%, rgb(182, 212, 86) 40%, rgb(55, 64, 27) 100%);
  padding-bottom: 30px;
}
.main-p .sec1-send {
  text-align: center;
  padding: 15px;
}
.main-p .sec1-send .send-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-p .sec1-send .send-content .send-cuestion {
  color: #B6D456;
  text-shadow: 0px 0px 2px black;
}
.main-p .sec1-send .send-content .send-parrafo {
  font-size: 1.2rem;
}
.main-p .sec1-send .send-content .nav-mapa ul li {
  text-align: start;
  font-size: 1.1rem;
  line-height: 40px;
}
.main-p .sec1-send .send-content .nav-mapa ul li a {
  text-decoration: underline;
  color: #37401b;
  font-weight: bold;
  text-shadow: 1px 0px 1px #B6D456;
}
.main-p .pedidos-card {
  margin: 30px;
}
.main-p .pedidos-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/fondo5.png);
  background-position: center;
  padding: 10px;
  margin: 15px;
  border: 1px solid #E4FF8E;
}
.main-p .pedidos-card .card .card-img-top {
  width: 200px;
  height: 150px;
  border: 3px solid #E4FF8E;
}
.main-p .pedidos-card .card .card-body {
  line-height: 5px;
  color: #37401b;
}
.main-p .pedidos-card .card .card-body .card-title {
  color: #37401b;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.main-p .pedidos-card .card .card-body .btn {
  padding: 2px 15px;
  letter-spacing: 0.5px;
}
.main-p .info-section {
  text-align: center;
}
.main-p .info-section p {
  font-family: "Amatic SC", cursive;
  font-size: 1.7rem;
  line-height: 25px;
  padding: 0px 25px;
}

.main-p {
  background: rgb(228, 250, 157);
  background: linear-gradient(185deg, rgb(228, 250, 157) 17%, rgb(182, 212, 86) 40%, rgb(55, 64, 27) 100%);
  padding: 30px 15px;
}
.main-p section .sec1-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-p section .sec1-nosotros .t2 {
  color: #B6D456;
  font-size: 2.2rem;
}
.main-p section .sec1-nosotros img {
  border: 2px solid #37401b;
}
.main-p section .sec1-nosotros p {
  line-height: 25px;
  padding-top: 15px;
}
.main-p section .sec1-nosotros .img-2 {
  width: 300px;
  height: 300px;
}
.main-p section .sec1-nosotros .p3 {
  color: #E4FF8E;
}
.main-p section .sec1-nosotros .t3 {
  margin-block: 10px;
  color: wheat;
}
.main-p .menoscarne {
  padding: 40px 10px 15px;
  text-align: center;
}
.main-p .menoscarne .menosc-flex {
  display: flex;
  justify-content: space-evenly;
}
.main-p .menoscarne .menosc-flex .img-thumbnail {
  width: 150px;
  height: 200px;
}
.main-p .menoscarne h4 {
  color: wheat;
  font-size: 1.4rem;
  line-height: 20px;
}
.main-p .razones {
  margin-inline: 25px;
  line-height: 20px;
  color: #E4FF8E;
  text-align: center;
}
.main-p .razones h5 {
  padding-block: 3px;
}
.main-p .sec2-n {
  padding-top: 50px;
}
.main-p .sec2-n .flex-n {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-p .sec2-n .flex-n .n-tit {
  font-size: 1.8rem;
}
.main-p .sec2-n .flex-n .n-p {
  color: wheat;
}
.main-p .sec2-n .flex-n .n-b {
  color: #37401b;
  background-color: #E4FA9D;
  padding: 2px 15px;
  transform: 1seg;
  cursor: pointer;
  box-shadow: rgba(67, 252, 50, 0.17) 0px -23px 25px 0px inset, rgba(107, 107, 107, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.main-p {
  padding: 20px 10px;
}
.main-p .sec-r .r-t {
  color: #37401b;
  text-shadow: none;
  text-align: center;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-p .sec-r .card-recetas {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}
.main-p .sec-r .card-recetas .card {
  text-align: center;
}
.main-p .sec-r .card-recetas .card img {
  width: 128px;
  height: 150px;
}
.main-p .sec-r .card-recetas .card .card-title {
  letter-spacing: 1.3px;
  font-size: 1.25rem;
}

.formularios {
  text-align: center;
}
.formularios .bi {
  font-size: 2.5rem;
  color: rgb(230, 44, 44);
}
.formularios h3 {
  color: rgb(22, 80, 22);
  text-shadow: none;
  font-size: 2rem;
  line-height: 30px;
}
.formularios nav {
  line-height: 15px;
}
.formularios nav a {
  font-size: 1.2rem;
  color: azure;
}
.formularios .form-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  margin: 20px 15px;
  gap: 10px;
  background-image: url(./img/fondo3.png);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.formularios .form-c div .fomr-i,
.formularios .form-c div textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  font-family: "Neucha", cursive;
  font-size: 1rem;
}/*# sourceMappingURL=estilos.css.map */