.main-p{

    @include tablet {
        padding-inline: 25px
    }

    .recetas{
        padding-inline: 10px;

        @include computadora {
            padding:50px 100px;
        }

        .recetas-text{
            @include flex (flex, column, center, center);
            text-align: center;

            .recetas-tit{
                @extend %titulos;
                text-shadow: .5px 0px .5px $color-4;
                color: $color-1;

                @include tablet {
                    font-size: 2rem
                }

                @include computadora {
                    font-size: 3rem;
                    letter-spacing: 3px;
                }
            }

            .recetas-p{
                @extend %parrafos;

                @include computadora {
                    font-size: 2rem;
                    letter-spacing: 3px;
                    padding-inline: 150px;
                    line-height: 40px
                }
            }

            .recetas-card{
                @include flex (flex, column, center, center);
                gap: 15px;

                @include tablet {
                    flex-direction: row;
                    gap: 30px;
                    margin-top: 20px;
                }

                @include computadora {
                    gap: 60px;
                    margin-top: 35px;
                }
                
                .card{
                    border: 2px solid $color-1;
                    transition: all 1s;

                    &:hover{
                        transform:scale(1.1);
                        border: 2px solid $color-2;
                        box-shadow: 5px 10px 20px $color-4;
                        transition: all 1s;
                    }

                    img{
                        height: 300px;

                        @include computadora {
                            height: 450px;
                        }
                    }

                    a{
                        div{
                            h2{
                                @extend %titulos;
                                font-size: 1.8rem;
                                letter-spacing: 4px;

                                @include tablet {
                                    font-size: 2.1rem
                                }

                                @include computadora {
                                    font-size: 3rem;
                                    letter-spacing: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .text-focus-in{animation:text-focus-in 1.2s cubic-bezier(.55,.085,.68,.53) both}
            @keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
    }


    .recetas-tips{
        @include flex (flex, column, center, center);
        gap: 10px;
        padding: 50px 20px 20px;
        text-align: center;
        @extend %parrafos;
        color: rgb(18, 29, 8);

        .sec-tips-r{
            @include flex (flex, column, center, center);
            gap: 15px;

            .recetas-tit{
                @extend %titulos;
                font-size: 1.5rem;

                @include tablet {
                    font-size: 2rem
                }

                @include computadora {
                    font-size: 3rem;
                    letter-spacing: 3px;
                    padding-inline: 200px
                }
            }

            .recetas-sub{
                @extend %subtitulos;
                font-size: 1.6rem;
                background-color: $color-4;
                padding: 10px;

                @include tablet {
                    font-size: 2rem;
                    padding: 15px;
                }

                @include computadora {
                    font-size: 3rem;
                    line-height: 50px;
                    margin-inline: 50px;
                    padding-inline: 100px;
                }
            }

            .parrafo{
                @include tablet {
                    font-size: 1.5rem;
                    line-height: 30px;
                }
                @include computadora {
                    font-size: 2rem;
                    letter-spacing: 3px;
                    padding-inline: 50px;
                    line-height: 40px
                }
            }


            .frutas-verduras{
                @include flex (flex, column, center, center);
                gap: 10px;
                background-image: url(../img/plantas.jpg);
                background-size: cover;
                padding: 15px 10px;
                border: 2px solid $color-1;

                @include computadora{
                    flex-direction: row;
                    align-items: start;
                    padding: 30px;
                }
                

                .estaciones{
                    background-color: $color-2;
                    border: 2px solid $color-1;
                    padding: 5px;

                    @include tablet {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 15px;
                        padding: 10px;
                        text-align: start
                    }

                    @include computadora{
                        flex-direction: column;
                        gap: 0px;
                        width: 400px;
                        padding: 20px 5px;
                        text-align: center
                    }

                    .estaciones-t{
                        @extend %titulos;
                        color: $color-4;
                        text-shadow: none;

                        @include computadora{
                            font-size: 2rem;
                        }

                    }

                    .estaciones-p{
                        @include computadora {
                            letter-spacing: 2px;
                            line-height: 30px;
                            padding-inline: 30px;
                        }
                    }
                }
            }
        }

        .cambios{
            @include flex (flex, column, center, center);
            margin-top: 30px;
            background-color: $color-2;
            padding: 20px 10px;

            @include computadora {
                padding: 50px;
            }

            .recetas-sub{
                @extend %subtitulos;

                @include tablet {
                    font-size: 2.5rem;
                    line-height: 40px;
                    padding: 20px;
                }

                @include computadora {
                    font-size: 3.5rem;
                    line-height: 55px;
                    padding-inline: 150px
                }
            }

            .parrafo2{
                @extend %parrafos;
                line-height: 25px;

                @include tablet {
                    font-size: 1.6rem;
                    line-height: 35px;
                    padding-inline: 15px;
                }

                @include computadora {
                    font-size: 2rem;
                    letter-spacing: 3px;
                    padding-inline: 50px;
                    line-height: 40px
                }
            }
        }
    }
}