.main-p{
    padding: 20px 10px;

    .sec-r{

        article{

            .r-t{
                @extend %subtitulos;
                font-size: 2.5rem;
                text-shadow: 1px 0px 3px $color-1;
                text-align: center;
                line-height: 40px;
                padding:0px 10px 20px;

                @include tablet {
                    font-size: 3.5rem;
                    padding: 15px;
                    line-height: 45px;
                    color: $color-4
                }
            }

            p{
                @extend %cursiva;
                text-align: center;
                font-size: 1.2rem;

            }
        
            .card-recetas{
                display: flex;
                justify-content: space-evenly;
                gap: 8px;
    
                .card{
                    text-align: center;
    
                    img{
                        width: 128px;
                        height: 150px;

                        @include tablet {
                            width: 200px;
                            height: 250px
                        }

                        @include computadora {
                            width: 350px;
                            height: 450px;
                            border: 2px solid $color-1
                        }
                    }

                    .tilt-in-fwd-tr {
                        -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }

@-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
    
                    .card-title{
                        @extend %titulos;
                        letter-spacing: 1.3px;
                        font-size: 1.25rem;

                        @include tablet {
                            font-size: 2rem;
                            letter-spacing: 2.5px;
                        }

                        @include computadora {
                            font-size: 2.5rem;
                            letter-spacing: 3.5px;
                        }
                    }
                }
            }
        }
    }

    .menoscarne{
        padding: 40px 15px 0px;
        text-align: center;

        h3{
            @extend %titulos;
            color: $color-2;
            font-size: 1.7rem;
            line-height: 25px;
    
            @include tablet {
            font-size: 2.3rem;
            line-height: 40px;
            }
    
            @include computadora {
                font-size: 3.2rem;
                letter-spacing: 5px;
                line-height: 45px
            }
        }

        h4{
            @extend %subtitulos;
            color: $color-4;
            font-size: 1.5rem;
            line-height: 25px;
    
            @include tablet {
                font-size: 2.3rem;
                line-height: 40px;
                }

            @include computadora {
                padding: 10px 25px;
            }
        }

        div{
            padding-bottom: 40px;

            @include tablet {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                padding: 20px 0px 40px;
            }

            @include computadora {
                justify-content: space-around;
            }

            img{
                display: none;

                @include tablet {
                    display: flex;
                    justify-self: center;
                    max-width: 300px;
                    height: auto;
                    width: 50%;
                    }
            }

            .div-ol{
                
                @include tablet {
                    display: inline-block;
                    width: 50%;
                    align-self: center;
                    }

                ol{
                    @extend %parrafos;
                    color: $color-2;
                    padding-inline: 25px;
                    font-size: 1.2rem;
                    text-align: justify;

                    @include tablet {
                        text-align: start;
                        font-size: 1.7rem;
                        }
                    
                        
                    @include computadora {
                        text-align: center;
                        font-size: 1.7rem;
                    }
    
                        li{
                            padding-block: 5px;
                            line-height: 25px;

                            @include tablet {
                                line-height:30px;
                                }
                            
                                
                            @include computadora {
                                line-height: 35px;
                                padding-block: 10px
                            }
                        }
                }
    
                a{
                    @extend %botones;
            
                    &:visited{
                        @extend %animacion-b;
                    }
            
                    @include tablet {
                        font-size: 1.6rem;
                        padding: 3px 25px;
                        }
            
                        @include computadora {
                            font-size: 2rem;
                            padding: 3px 45px;

                            &:hover{
                                color: $color-4;
                                background-color: $color-3;
                                box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                                transition: 1.5seg;
                            }
                        }
                }
            }
        }

        .vid-mc{
            
            iframe{
                width: 400px;
                border: 1px solid $color-2;
                padding: 10px;

                @include computadora {
                    width: 560px;
                    height: 315px;
                    border: 2px solid $color-2;
                }
            }
        }
    }
}
