@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Luckiest+Guy&family=Neucha&family=Permanent+Marker&display=swap");
.formularios h3, .main-p .sec-r article .card-recetas .card .card-title, .main-p .sec2-n .flex-n .n-tit, .main-p .menoscarne h3, .main-p section .sec1-nosotros .t2, .main-p .sec1-send .send-content .send-cuestion, .footer .foot-text .foot-1, .main1 .sec4 .sec4-cont .sec4-texto .sec4-t, .main1 .sec3 .sec-cont3 .cont3-t,
.main1 .sec3 .sec-cont3 .tit-prod {
  text-align: center;
  padding-bottom: 10px;
  color: #E4FA9D;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 1px 2px 4px #37401b;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.tips-sec .tips-h2 h2, .main-p .sec-r article .r-t, .main-p .menoscarne h4, .main-p section .sec1-nosotros .t3, .main-p .pedidos-card .card .card-body .card-title, .main1 .sec3 h3, .main1 .sec2 .sec-cont2 .cont2-t {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  color: #B6D456;
  text-shadow: 0.5px 0px 1px #37401b;
  letter-spacing: 2px;
  line-height: 30px;
}

.tips-sec .tips-list, .formularios p, .main-p .sec2-n .n-p, .main-p .razones, .main-p section .sec1-nosotros p, .main-p .pedidos-card .card .card-body p, .main-p .sec1-send .send-content .send-parrafo, .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-pp, .main1 .sec4 .sec4-tit p, .main1 .sec3 .sec-productos div h3, .main1 .sec2 .sec-cont2 .cont2-p {
  line-height: 20px;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  color: #37401b;
}

.formularios nav a, .main-p .sec-r article p, .main-p .sec1-send .send-content .nav-mapa ul li, .main1 .sec4 .sec4-tit .h4-2, .main1 .sec3 .sec-productos div p, .main1 .sec2 .sec-cont2 .cont2-p2 {
  line-height: 15px;
  font-size: 1.4rem;
  font-style: italic;
  color: #37401b;
}

.formularios .form-c div input[type=submit], .main-p .sec2-n .n-b, .main-p .razones a, .main-p .pedidos-card .card .card-body .btn, .footer .foot-text .btn, .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b, .main1 .sec4 .sec4-tit .boton, .main1 .sec3 .sec3-p {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  color: #E4FA9D;
  background-color: #37401b;
  border: none;
  border-radius: 40px;
  padding: 2px 15px;
  margin-top: 10px;
  transition: 1.5seg;
  cursor: pointer;
  box-shadow: rgba(128, 252, 117, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.formularios .form-c div input[type=submit]:visited, .main-p .razones a:visited, .main-p .pedidos-card .card .card-body .btn:visited, .main-p .sec1-send .send-content .nav-mapa ul li a:visited, .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b:visited, .main1 .sec4 .sec4-tit .boton:visited, .main1 .sec3 .sec3-p:visited {
  color: #37401b;
  background-color: #E4FA9D;
  box-shadow: rgba(27, 235, 8, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

.navbar {
  background-color: #44521d;
  font-size: 1.35rem;
  line-height: 20px;
  padding-block: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .navbar {
    font-size: 1.5rem;
    padding: 15px 30px;
  }
}
@media screen and (min-width: 570px) {
  .navbar img {
    width: 150px;
    height: 60px;
  }
}

.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
}

.main1 {
  background-image: url(../img/fondo4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main1 .sec1 {
  background-image: url(../img/fondo3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 570px) {
  .main1 .sec1 {
    background-size: auto;
  }
}
.main1 .sec1 .sec-cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 360px;
}
.main1 .sec1 .sec-cont1 .sec-s1 {
  letter-spacing: 1.8px;
  font-size: 2.2rem;
  color: #E4FF8E;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 5px 10px 20px #37401b;
}
@media screen and (min-width: 570px) {
  .main1 .sec1 .sec-cont1 .sec-s1 {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec1 .sec-cont1 .sec-s1 {
    font-size: 3.5rem;
    letter-spacing: 3.5px;
  }
}
.main1 .sec1 .sec-cont1 .sec-s2 {
  letter-spacing: 10px;
  font-family: "Luckiest Guy", cursive;
  font-size: 4.2rem;
  color: #E4FF8E;
  text-shadow: 5px 10px 20px #37401b;
}
@media screen and (min-width: 570px) {
  .main1 .sec1 .sec-cont1 .sec-s2 {
    font-size: 5.5rem;
    letter-spacing: 10px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec1 .sec-cont1 .sec-s2 {
    font-size: 6.5rem;
    letter-spacing: 25px;
  }
}
.main1 .sec1 .sec-cont1 .slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.main1 .sec1 .sec-cont1 .puff-in-center {
  animation: puff-in-center 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
.main1 .sec2 {
  height: auto;
  padding: 10px 5px;
}
@media screen and (min-width: 992px) {
  .main1 .sec2 {
    padding: 10px 15px;
  }
}
.main1 .sec2 .sec-cont2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  text-align: center;
  padding: 2px 10px;
}
@media screen and (min-width: 992px) {
  .main1 .sec2 .sec-cont2 {
    padding: 20px 65px;
  }
}
.main1 .sec2 .sec-cont2 .cont2-t {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #37401b;
  font-size: 2.5rem;
  line-height: 35px;
}
@media screen and (min-width: 570px) {
  .main1 .sec2 .sec-cont2 .cont2-t {
    font-size: 3rem;
    line-height: 45px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec2 .sec-cont2 .cont2-t {
    font-size: 4.5rem;
    letter-spacing: 10px;
    line-height: 75px;
    padding: 15px 20px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.main1 .sec2 .sec-cont2 .cont2-img {
  grid-column: 2/3;
  grid-row: 1/2;
  height: auto;
  width: 130px;
  transform: rotate(10deg);
}
@media screen and (min-width: 570px) {
  .main1 .sec2 .sec-cont2 .cont2-img {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec2 .sec-cont2 .cont2-img {
    width: 220px;
    grid-column: 1/2;
    grid-row: 2/3;
    transform: none;
  }
}
.main1 .sec2 .sec-cont2 .cont2-st {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-bottom: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
  line-height: 18px;
  letter-spacing: 1.5px;
  color: #E4FA9D;
}
@media screen and (min-width: 992px) {
  .main1 .sec2 .sec-cont2 .cont2-st {
    font-size: 2rem;
    line-height: 25px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.main1 .sec2 .sec-cont2 .cont2-p {
  grid-column: 1/3;
  grid-row: 3/4;
}
@media screen and (min-width: 992px) {
  .main1 .sec2 .sec-cont2 .cont2-p {
    font-size: 2rem;
    line-height: 35px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.main1 .sec2 .sec-cont2 .cont2-p2 {
  grid-column: 1/3;
  grid-row: 4/5;
  line-height: 20px;
}
@media screen and (min-width: 992px) {
  .main1 .sec2 .sec-cont2 .cont2-p2 {
    font-family: "Permanent Marker", cursive;
    margin-block: 10px;
    font-size: 2rem;
    line-height: 35px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.main1 .sec3 {
  height: auto;
  padding-top: 10px;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 {
    padding-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 {
    padding-top: 30px;
  }
}
.main1 .sec3 .sec-cont3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-cont3 {
    gap: 10px;
  }
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-cont3 .cont3-t,
  .main1 .sec3 .sec-cont3 .tit-prod {
    font-size: 2.1rem;
    padding: 5px 20px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-cont3 .cont3-t,
  .main1 .sec3 .sec-cont3 .tit-prod {
    font-size: 2.5rem;
    padding: 15px 20px;
  }
}
.main1 .sec3 .sec-cont3 .cont3-img {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  padding-bottom: 20px;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-cont3 .cont3-img {
    gap: 25px;
  }
}
.main1 .sec3 .sec-cont3 .cont3-img img {
  width: 75px;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-cont3 .cont3-img img {
    width: 95px;
    border: 1.5px solid #E4FF8E;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-cont3 .cont3-img img {
    width: 250px;
    border: 3px solid #E4FF8E;
  }
}
.main1 .sec3 h3 {
  padding: 20px 0px 10px;
  color: #37401b;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 h3 {
    font-size: 2.2rem;
  }
}
.main1 .sec3 .sec-productos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 10px;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-productos {
    gap: 30px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-productos {
    gap: 50px;
  }
}
.main1 .sec3 .sec-productos div {
  max-width: 150px;
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-productos div {
    max-width: 350px;
  }
}
.main1 .sec3 .sec-productos div img {
  width: 100px;
  height: 100px;
  border: 2px solid #E4FA9D;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-productos div img {
    width: 130px;
    height: 130px;
    border: 1.5px solid #E4FF8E;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-productos div img {
    width: 200px;
    height: 200px;
    border: 3px solid #E4FF8E;
  }
}
.main1 .sec3 .sec-productos div h3 {
  font-size: 1.5rem;
  padding-top: 5px;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-productos div h3 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-productos div h3 {
    font-size: 2.5rem;
    padding: 30px 0px 10px;
  }
}
.main1 .sec3 .sec-productos div p {
  font-size: 1.2rem;
  padding-inline: 5px;
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec-productos div p {
    font-size: 1.5rem;
    line-height: 20px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec-productos div p {
    font-size: 1.8rem;
    padding: 30px 0px 10px;
  }
}
@media screen and (min-width: 570px) {
  .main1 .sec3 .sec3-p {
    font-size: 1.6rem;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec3 .sec3-p {
    font-size: 2rem;
    padding: 5px 35px;
  }
  .main1 .sec3 .sec3-p:hover {
    color: #37401b;
    background-color: #E4FA9D;
    transition: 1.5seg;
    box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
.main1 .sec4 {
  padding: 30px 0px;
}
@media screen and (min-width: 570px) {
  .main1 .sec4 {
    padding: 50px 20px;
  }
}
.main1 .sec4 .sec4-tit {
  gap: 10px;
  color: #37401b;
  text-align: center;
  padding-bottom: 50px;
}
.main1 .sec4 .sec4-tit h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 3px 0px 5px #B6D456;
}
@media screen and (min-width: 570px) {
  .main1 .sec4 .sec4-tit h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-tit h3 {
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding-top: 30px;
  }
}
.main1 .sec4 .sec4-tit p {
  padding: 5px;
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-tit p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-tit .h4-2 {
    font-size: 1.6rem;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 570px) {
  .main1 .sec4 .sec4-tit .boton {
    font-size: 1.6rem;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-tit .boton {
    font-size: 2rem;
    padding: 5px 35px;
  }
  .main1 .sec4 .sec4-tit .boton:hover {
    color: #37401b;
    background-color: #E4FA9D;
    transition: 1.5seg;
    box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
.main1 .sec4 .sec4-cont {
  height: auto;
  padding-inline: 15px;
}
@media screen and (min-width: 570px) {
  .main1 .sec4 .sec4-cont {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont {
    padding: 5px 60px;
  }
}
.main1 .sec4 .sec4-cont .sec4-img {
  display: none;
}
@media screen and (min-width: 570px) {
  .main1 .sec4 .sec4-cont .sec4-img {
    display: flex;
    width: 250px;
    border: 2px solid #B6D456;
    border-radius: 20px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont .sec4-img {
    width: 300px;
    margin-left: 50px;
  }
}
.main1 .sec4 .sec4-cont .sec4-texto {
  align-items: center;
  text-align: center;
  color: #E4FA9D;
  padding: 5px 10px;
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont .sec4-texto {
    padding: 15px 150px 0px 100px;
  }
}
.main1 .sec4 .sec4-cont .sec4-texto .sec4-t {
  color: #B6D456;
  font-size: 2.3rem;
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont .sec4-texto .sec4-t {
    font-size: 2.7rem;
  }
}
.main1 .sec4 .sec4-cont .sec4-texto .sec4-p {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  color: #B6D456;
  text-shadow: 0.5px 0px 1px #37401b;
  letter-spacing: 2px;
  line-height: 30px;
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont .sec4-texto .sec4-p {
    font-size: 2.6rem;
    line-height: 40px;
  }
}
.main1 .sec4 .sec4-cont .sec4-texto .sec4-div {
  background-color: #B6D456;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px #37401b;
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-pp {
    font-size: 1.5rem;
    line-height: 25px;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 570px) {
  .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b {
    font-size: 1.4rem;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 992px) {
  .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b {
    font-size: 2rem;
    padding: 5px 35px;
  }
  .main1 .sec4 .sec4-cont .sec4-texto .sec4-div .sec4-b:hover {
    color: #37401b;
    background-color: #E4FA9D;
    box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 1.5seg;
  }
}

.btn-wsp {
  position: fixed;
  background-color: #00bb2d;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .btn-wsp {
    height: 52px;
    width: 51px;
    bottom: 30px;
    right: 30px;
  }
}
.btn-wsp .bi-whatsapp {
  font-size: 30px;
  color: white;
}
@media screen and (min-width: 992px) {
  .btn-wsp .bi-whatsapp {
    font-size: 36px;
  }
}

.footer {
  background-color: #37401b;
  text-align: center;
}
.footer .foot-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  padding: 20px 10px;
  font-size: 1.3rem;
  color: white;
}
.footer .foot-text .foot-1 {
  text-shadow: 1px 0px 50px #E4FF8E;
}
.footer .foot-text .foot-2 {
  font-family: "Amatic SC", cursive;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #E4FF8E;
  letter-spacing: 3px;
}
.footer .foot-text a {
  color: #B6D456;
  padding: 5px 0px;
  line-height: 25px;
  font-size: 1.2rem;
}
.footer .foot-text img {
  height: 80px;
  margin-block: 20px;
}
.footer .foot-text .redes {
  margin-top: 20px;
}
.footer .foot-text .form-control {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.footer .foot-text .btn {
  color: #37401b;
  background-color: #E4FA9D;
  padding: 2px 25px;
  transform: 1seg;
  cursor: pointer;
  box-shadow: rgba(27, 235, 8, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.footer .foot-text .iconos {
  display: flex;
  gap: 20px;
}
.footer .foot-text .iconos i {
  color: white;
  font-size: 1.5rem;
}

.main-p .sec1-send {
  text-align: center;
  padding: 15px;
}
@media screen and (min-width: 992px) {
  .main-p .sec1-send {
    padding: 25px;
  }
}
.main-p .sec1-send .send-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-p .sec1-send .send-content .send-cuestion {
  color: #B6D456;
  text-shadow: 0px 0px 2px black;
}
@media screen and (min-width: 992px) {
  .main-p .sec1-send .send-content .send-cuestion {
    font-size: 2rem;
    color: #37401b;
    text-shadow: 1px 0px 4px #B6D456;
    padding-top: 30px;
  }
}
.main-p .sec1-send .send-content .send-parrafo {
  font-size: 1.2rem;
}
@media screen and (min-width: 992px) {
  .main-p .sec1-send .send-content .send-parrafo {
    font-size: 1.6rem;
    padding: 0px 40px;
  }
}
.main-p .sec1-send .send-content .nav-mapa ul li {
  text-align: start;
  font-size: 1.1rem;
  line-height: 40px;
}
@media screen and (min-width: 992px) {
  .main-p .sec1-send .send-content .nav-mapa ul li {
    font-size: 1.8rem;
    margin-top: 30px;
  }
}
.main-p .sec1-send .send-content .nav-mapa ul li a {
  text-decoration: underline;
  color: #37401b;
  font-weight: bold;
  text-shadow: 1px 0px 1px #B6D456;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .main-p .sec1-send .send-content .nav-mapa ul li a:hover {
    color: rgb(9, 9, 201);
  }
}
.main-p .pedidos-card {
  margin: 30px;
}
@media screen and (min-width: 992px) {
  .main-p .pedidos-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: center;
  }
}
.main-p .pedidos-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E4FA9D;
  padding: 10px;
  margin: 15px;
  border: 1px solid grey;
}
@media screen and (min-width: 570px) {
  .main-p .pedidos-card .card {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .main-p .pedidos-card .card {
    display: inline-block;
    max-width: 350px;
  }
}
.main-p .pedidos-card .card .card-img-top {
  width: 200px;
  height: 150px;
  border: 3px solid #E4FF8E;
  border: 1px solid grey;
}
@media screen and (min-width: 992px) {
  .main-p .pedidos-card .card .card-img-top {
    display: inline-block;
    width: 300px;
    height: 230px;
  }
}
.main-p .pedidos-card .card .card-body {
  line-height: 5px;
  color: #37401b;
}
.main-p .pedidos-card .card .card-body .card-title {
  color: #37401b;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
@media screen and (min-width: 992px) {
  .main-p .pedidos-card .card .card-body .card-title {
    font-size: 2.5rem;
  }
}
.main-p .pedidos-card .card .card-body .btn {
  padding: 2px 15px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 992px) {
  .main-p .pedidos-card .card .card-body .btn {
    font-size: 1.8rem;
    padding: 2px 45px;
  }
  .main-p .pedidos-card .card .card-body .btn:hover {
    color: #37401b;
    background-color: #B6D456;
    box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 1.5seg;
  }
}
.main-p .info-section {
  text-align: center;
}
.main-p .info-section p {
  font-family: "Amatic SC", cursive;
  font-size: 1.7rem;
  line-height: 25px;
  padding: 0px 25px;
}
@media screen and (min-width: 992px) {
  .main-p .info-section p {
    font-size: 2.5rem;
    color: #E4FF8E;
  }
}

.main-p {
  background: rgb(228, 250, 157);
  background: linear-gradient(185deg, rgb(228, 250, 157) 17%, rgb(182, 212, 86) 40%, rgb(55, 64, 27) 100%);
  padding: 30px 15px;
}
.main-p section .sec1-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros {
    padding: 50px 100px;
  }
}
.main-p section .sec1-nosotros .img-1 {
  border: 2px solid #37401b;
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .img-1 {
    grid-column: 1/2;
    grid-row: 2/5;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .img-1 {
    height: 400px;
    width: 400px;
    padding: 40px;
    border: 2px solid #B6D456;
  }
}
.main-p section .sec1-nosotros .t2 {
  color: #B6D456;
  font-size: 2.2rem;
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .t2 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .t2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .p1 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .p1 {
    font-size: 2rem;
    line-height: 30px;
  }
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .p2 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .p2 {
    font-size: 2rem;
    line-height: 30px;
  }
}
.main-p section .sec1-nosotros .img-2 {
  border: 2px solid #37401b;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .img-2 {
    grid-column: 2/3;
    grid-row: 5/8;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .img-2 {
    height: 400px;
    width: 400px;
    padding: 40px;
  }
}
.main-p section .sec1-nosotros .p3 {
  color: #E4FF8E;
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .p3 {
    grid-column: 1/2;
    grid-row: 5/7;
    color: #37401b;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .p3 {
    font-size: 2rem;
    line-height: 30px;
  }
}
.main-p section .sec1-nosotros .t3 {
  margin-block: 10px;
  color: wheat;
}
@media screen and (min-width: 570px) {
  .main-p section .sec1-nosotros .t3 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media screen and (min-width: 992px) {
  .main-p section .sec1-nosotros .t3 {
    font-size: 3.5rem;
    line-height: 50px;
  }
}
.main-p section .sec1-nosotros p {
  line-height: 25px;
  padding-top: 15px;
}
.main-p .menoscarne {
  padding: 40px 10px 15px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .main-p .menoscarne {
    padding: 40px 300px;
  }
}
@media screen and (min-width: 992px) {
  .main-p .menoscarne h3 {
    font-size: 3.5rem;
  }
}
.main-p .menoscarne .menosc-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.main-p .menoscarne .menosc-flex .img-thumbnail {
  width: 150px;
  height: 200px;
}
@media screen and (min-width: 570px) {
  .main-p .menoscarne .menosc-flex .img-thumbnail {
    width: 300px;
    height: 350px;
  }
}
@media screen and (min-width: 992px) {
  .main-p .menoscarne .menosc-flex .img-thumbnail {
    width: 400px;
    height: 450px;
  }
}
.main-p .menoscarne h3 {
  color: #E4FF8E;
  font-size: 1.4rem;
  line-height: 20px;
}
@media screen and (min-width: 570px) {
  .main-p .menoscarne h3 {
    font-size: 2.3rem;
    line-height: 40px;
  }
}
.main-p .menoscarne h4 {
  color: #37401b;
}
@media screen and (min-width: 570px) {
  .main-p .menoscarne h4 {
    font-size: 2.3rem;
    line-height: 40px;
  }
}
.main-p .razones {
  margin-inline: 25px;
  line-height: 20px;
  color: #E4FF8E;
  text-align: center;
}
.main-p .razones ol {
  padding-inline: 10px;
}
@media screen and (min-width: 992px) {
  .main-p .razones ol {
    padding-left: 200px;
    font-size: 3rem;
  }
}
.main-p .razones h4 {
  padding-block: 3px;
}
@media screen and (min-width: 570px) {
  .main-p .razones h4 {
    font-size: 1.8rem;
    line-height: 20px;
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .main-p .razones h4 {
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 570px) {
  .main-p .razones a {
    font-size: 1.6rem;
    padding: 3px 25px;
  }
}
@media screen and (min-width: 992px) {
  .main-p .razones a {
    font-size: 2rem;
    padding: 3px 45px;
  }
  .main-p .razones a:hover {
    color: #37401b;
    background-color: #E4FA9D;
    box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 1.5seg;
  }
}
.main-p .sec2-n {
  padding: 50px 20px 10px;
}
.main-p .sec2-n .flex-n {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .main-p .sec2-n .flex-n {
    padding-inline: 150px;
    margin-top: 50px;
  }
}
.main-p .sec2-n .flex-n .n-tit {
  font-size: 1.8rem;
}
@media screen and (min-width: 992px) {
  .main-p .sec2-n .flex-n .n-tit {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}
.main-p .sec2-n .n-p {
  color: wheat;
}
@media screen and (min-width: 992px) {
  .main-p .sec2-n .n-p {
    font-size: 2rem;
    letter-spacing: 3px;
    padding-inline: 150px;
    line-height: 50px;
  }
}
.main-p .sec2-n .n-b {
  color: #37401b;
  background-color: #E4FA9D;
  padding: 2px 15px;
  transform: 2s;
  cursor: pointer;
  box-shadow: rgba(67, 252, 50, 0.17) 0px -23px 25px 0px inset, rgba(107, 107, 107, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
@media screen and (min-width: 570px) {
  .main-p .sec2-n .n-b {
    font-size: 1.6rem;
    padding: 3px 25px;
  }
}
@media screen and (min-width: 992px) {
  .main-p .sec2-n .n-b {
    font-size: 2rem;
    padding: 3px 45px;
  }
  .main-p .sec2-n .n-b:hover {
    color: #37401b;
    background-color: #E4FA9D;
    box-shadow: rgba(230, 245, 228, 0.17) 0px -23px 25px 0px inset, rgba(168, 167, 167, 0.15) 0px -36px 30px 0px inset, rgba(192, 191, 191, 0.1) 0px -79px 40px 0px inset, rgba(248, 247, 247, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 1.5seg;
  }
}

.main-p {
  padding: 20px 10px;
}
.main-p .sec-r article .r-t {
  font-size: 2.5rem;
  text-shadow: 1px 0px 3px #B6D456;
  text-align: center;
  line-height: 40px;
  padding: 0px 10px 20px;
}
@media screen and (min-width: 570px) {
  .main-p .sec-r article .r-t {
    font-size: 3.5rem;
    padding: 15px;
    line-height: 45px;
    color: #37401b;
  }
}
.main-p .sec-r article p {
  text-align: center;
  font-size: 1.2rem;
}
.main-p .sec-r article .card-recetas {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}
.main-p .sec-r article .card-recetas .card {
  text-align: center;
}
.main-p .sec-r article .card-recetas .card img {
  width: 128px;
  height: 150px;
}
@media screen and (min-width: 570px) {
  .main-p .sec-r article .card-recetas .card img {
    width: 200px;
    height: 250px;
  }
}
@media screen and (min-width: 992px) {
  .main-p .sec-r article .card-recetas .card img {
    width: 350px;
    height: 450px;
    border: 2px solid #B6D456;
  }
}
.main-p .sec-r article .card-recetas .card .tilt-in-fwd-tr {
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes tilt-in-fwd-tr {
  0% {
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.main-p .sec-r article .card-recetas .card .card-title {
  letter-spacing: 1.3px;
  font-size: 1.25rem;
}
@media screen and (min-width: 570px) {
  .main-p .sec-r article .card-recetas .card .card-title {
    font-size: 2rem;
    letter-spacing: 2.5px;
  }
}
@media screen and (min-width: 992px) {
  .main-p .sec-r article .card-recetas .card .card-title {
    font-size: 2.5rem;
    letter-spacing: 3.5px;
  }
}

.formularios {
  text-align: center;
}
.formularios .bi {
  font-size: 2.5rem;
  color: rgb(230, 44, 44);
}
@media screen and (min-width: 570px) {
  .formularios .bi {
    font-size: 3rem;
  }
}
.formularios h3 {
  color: rgb(22, 80, 22);
  text-shadow: none;
  font-size: 2rem;
  line-height: 30px;
}
.formularios nav {
  line-height: 15px;
}
.formularios nav a {
  font-size: 1.2rem;
  color: azure;
}
@media screen and (min-width: 570px) {
  .formularios nav a {
    font-size: 1.5rem;
    line-height: 20px;
    padding-inline: 20px;
  }
}
.formularios .form-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E4FF8E;
  border: 1px solid grey;
  padding-block: 30px;
  margin: 20px 15px;
  gap: 10px;
  border-radius: 30px;
}
.formularios .form-c div .fomr-i,
.formularios .form-c div textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  font-family: "Neucha", cursive;
  font-size: 1rem;
  text-align: center;
  color: gray;
}
@media screen and (min-width: 570px) {
  .formularios .form-c div .fomr-i,
  .formularios .form-c div textarea {
    width: 300px;
  }
}
.tips-sec {
  padding: 10px;
}
.tips-sec .tips-h2 {
  text-align: center;
  padding-inline: 5px;
}
@media screen and (min-width: 570px) {
  .tips-sec .tips-h2 {
    padding-inline: 25px;
  }
}
@media screen and (min-width: 992px) {
  .tips-sec .tips-h2 {
    padding: 20px 50px;
  }
}
.tips-sec .tips-h2 h2 {
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 2px;
}
@media screen and (min-width: 570px) {
  .tips-sec .tips-h2 h2 {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
    line-height: 37px;
  }
}
@media screen and (min-width: 992px) {
  .tips-sec .tips-h2 h2 {
    font-size: 4rem;
    letter-spacing: 3.5px;
    line-height: 60px;
  }
}
.tips-sec .tips-list {
  text-align: justify;
  padding: 25px;
}
@media screen and (min-width: 570px) {
  .tips-sec .tips-list {
    font-size: 1.7rem;
    padding: 45px;
    line-height: 30px;
  }
}
@media screen and (min-width: 992px) {
  .tips-sec .tips-list {
    font-size: 2rem;
    padding-inline: 100px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .tips-sec .tips-list ol {
    padding-inline: 20px;
  }
}
.tips-sec .tips-list ol li {
  padding-block: 10px;
}
@media screen and (min-width: 570px) {
  .tips-sec .tips-list ol li {
    padding-block: 18px;
  }
}
@media screen and (min-width: 992px) {
  .tips-sec .tips-list ol li {
    padding-block: 20px;
  }
}
.tips-sec .video {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 570px) {
  .tips-sec .video iframe {
    width: 400px;
    height: 250px;
  }
}
@media screen and (min-width: 992px) {
  .tips-sec .video iframe {
    width: 550px;
    height: 450px;
    border: 2px solid #B6D456;
    padding: 15px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */